* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #090909, #365278); 
}

.calculator {
    background: #3a4454;
    border-radius: 1px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(109, 55, 55, 0.1), 5px 5px 15px rgba(189, 106, 71, 0.2);
    border-radius: 10px;
    background: transparent
}

input {
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: transparent;
    border: none;
    box-shadow: 0px 3px 15px rgbs(84, 85, 85, );
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder {
    color: white;

}

button {
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

.op {
    color: rgb(17, 255, 0);
}

.x {
    color: white;
    text-align: center;
    font-size: 29px;
    text-decoration: underline;

}

.x:hover {
    color: rgb(17, 255, 0);
    cursor: grab;
    transform: scale(1);

}